{{/*
    This partial generates the Ads widget.
    It displays sidebar advertisements configured in config.toml.
*/}}
{{- $page := . -}}
{{ with $ads := $page.Site.Params.wAds }}
  <section class="widget">
    <h3 class="widget-title ad">{{ i18n "ads" }}</h3>
    <ul class="widget-list">
      {{ range $ad := $ads }}
        <li>
          <a class="ad" href="{{ $ad.url }}" title="{{ $ad.title }}">
            {{ if $ad.img }}
              <img src="{{ $ad.img }}" />
            {{ else }}
              {{ $ad.title }}
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
