{{/*
    This partial generates the Categories widget.
    It lists all categories and their post counts.
*/}}
{{- $page := . -}}
{{ if not $page.Site.Params.wCategories.disable }}
  <section class="widget">
    <h3 class="widget-title">
      <a class="widget-title-link" href="{{ "categories/" | relURL }}">{{ i18n "categories" 10 }}</a>
    </h3>
    <ul class="widget-list">
      {{- range $category := $page.Site.Taxonomies.categories }}
        <li class="widget-item">
          <a class="widget-link" href="{{ $category.Page.Permalink }}">{{ $category.Page.Title }} ({{ $category.Count }})</a>
        </li>
      {{- end }}
    </ul>
  </section>
{{ end }}