{{/*
    This partial generates the "Latest Posts" widget.
    It lists the most recent posts.
*/}}
{{- $page := . -}}
{{ if not $page.Site.Params.wLatestPosts.disable }}
  <section class="widget">
    <h3 class="widget-title">{{ i18n "latest_posts" }}</h3>
    <ul class="widget-list">
      {{- $posts := where $page.Site.RegularPages "Type" $page.Site.Params.wLatestPosts.type -}}
      {{- range first $page.Site.Params.wLatestPosts.limit $posts }}
        <li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
      {{- end }}
    </ul>
  </section>
{{ end }}