{{/*
    This partial generates the Links (Blogroll) widget.
    It lists external links configured in config.toml.
*/}}
{{- $page := . -}}
{{ with $links := $page.Site.Params.wLinks }}
  <section class="widget">
    <h3 class="widget__title">{{ i18n "links" }}</h3>
    <ul class="widget__list">
      {{ range $link := $links }}
        <li class="widget__item">
          <a class="widget__link" href="{{ $link.url }}" title="{{ $link.title }}">{{ $link.name }}</a>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
