{{/*
    This partial generates the "Related Posts" sidebar widget.
    It only renders on single blog post pages when related posts exist.
*/}}
{{- $page := . -}}
{{- if not $page.Site.Params.relatedPosts.disable -}}
  {{- if eq $page.Type $page.Site.Params.BlogType -}}
    {{- $limit := or $page.Site.Params.relatedPosts.Limit 5 -}}
    {{- $related := $page.Site.RegularPages.Related $page | first $limit -}}
    {{- $type := or $page.Site.Params.relatedPosts.type "posts" -}}
    {{- $relatedPosts := where $related "Type" $type -}}
    {{- with $posts := $relatedPosts }}
      <section class="widget widget--related">
        <h3 class="widget__title">{{ i18n "related_posts" }}</h3>
        <ul class="widget__list">
          {{- range $post := $posts }}
            <li class="widget__item"><a class="widget__link" href="{{ $post.RelPermalink }}" title="{{ $post.Title }}">{{ $post.Title }}</a></li>
          {{- end }}
        </ul>
      </section>
    {{- end -}}
  {{- end -}}
{{- end -}}
