{{- /*
    This partial generates the Social Media widget.
    It displays icons with links to social profiles.
*/ -}}
{{- $page := . -}}
{{ with $socials := $page.Site.Params.wSocials }}
  <section class="widget widget-socials">
    <h3 class="widget-title"><!-- Social Networks --></h3>
    {{- /* SVG Icons from https://icons.getbootstrap.com/ */}}
    <ul class="socials-list">
      {{- range $social := $socials }}
        <li class="socials-item">
          <a class="socials-link" title="{{ $social.title }}" href="{{ $social.url }}">
            {{ $svg := printf "static/%s" $social.img | readFile -}}
            {{/* Inject class into SVG tag */}}
            {{ replace $svg "<svg" "<svg class=\"socials-icon\"" | safeHTML }}
          </a>
        </li>
      {{- end }}
    </ul>
  </section>
{{- end }}