/*
  If Markdown renders without classes, it should still be readable.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-main);
  background-color: var(--color-bg);
  margin: 0;
}

/*
  Global Link Style (UI links, titles, etc.)
  Standard behavior across the site, except for the post-content.
*/
a {
  color: var(--link-color);
  text-decoration: none;
  transition: var(--link-transition);
}

a:hover {
  color: var(--link-hover-color);
  /* text-decoration: none; explicitly no underline for UI links */
  /* TODO(DB): TBD if I want this, probably not */
  text-decoration: underline var(--color-accent);
}

img {
  max-width: 100%;
  height: auto;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--space-md);
} */

/* p {
  margin-top: 0;
  margin-bottom: var(--space-md);
} */