/*
    If a file isn’t imported here, it doesn’t exist.
*/

@layer reset, tokens, base, utilities, components, overrides;

@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" layer(reset);

@import "tokens.css" layer(tokens);
@import "base.css" layer(base);
@import "utilities.css" layer(utilities);

@import "components/page-header.css" layer(components);
@import "components/page-main.css" layer(components);
@import "components/page-footer.css" layer(components);
@import "components/sidebar.css" layer(components);
@import "components/widget.css" layer(components);
@import "components/widgets/socials.css" layer(components);
@import "components/widgets/search.css" layer(components);
@import "components/widgets/tags.css" layer(components);
@import "components/post.css" layer(components);
@import "components/post-meta.css" layer(components);
@import "components/post-content.css" layer(components);
@import "components/post-tags.css" layer(components);
@import "components/related.css" layer(components);
@import "components/nav.css" layer(components);
@import "components/search.css" layer(components);
@import "components/paginator.css" layer(components);
@import "components/code-highlight-github.css" layer(components);
/* TODO(DB): add dark theme */
@import "components/code-copy.css" layer(components);

@import "overrides.css" layer(overrides);
