/* --- Overrides ------
    If this grows: refactor or accept the debt knowingly.
    No silent hacks.
*/

/* *** Bellota Text *********************************************************/
.bellota-text-light {
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bellota-text-regular {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bellota-text-bold {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bellota-text-light-italic {
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.bellota-text-regular-italic {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.bellota-text-bold-italic {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* *** Wix Madefor Text *******************************************************/
/* .wix-madefor-text-<uniquifier> {
  font-family: "Wix Madefor Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.wix-madefor-text-light {
  font-family: "Wix Madefor Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.wix-madefor-text-regular {
  font-family: "Wix Madefor Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.wix-madefor-text-bold {
  font-family: "Wix Madefor Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}