/**
 * 
 * @package Maupassant
 * @author cho
 * @version 1.3
 * @link http://pickcho.com

# Stepped responsive design

## Breakpoint	Behavior
> 1290px	Fixed 1150px container
≤ 1290px	width: auto kicks in via media query
≤ 1057px	Sidebar shrinks to 175px
≤ 860px   Sidebar hides, single column
≤ 680px   Reduced padding, smaller fonts
≤ 500px   Further adjustments

*/

body {
  background-color: #fff;
  color: #6e7173;
  font-size: 15px;
  font-family: "Iowan Old Style", "Ovo", "Hoefler Text", Georgia,
    "Times New Roman", "TIBch", "Source Han Sans", "PingFangSC-Regular",
    "Hiragino Sans GB", "STHeiti", "Microsoft Yahei", "Droid Sans Fallback",
    "WenQuanYi Micro Hei", sans-serif;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

a,
button.submit {
  color: #6e7173;
  text-decoration: none;
  transition: all 0.1s ease-in;
}

a:hover,
a:active {
  color: #000;
}

pre {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New",
    monospace;
  overflow: auto;
  border: 1px solid #ddd;
  display: block;
  margin: 0 0 1.1em;
}

code {
  display: inline-block;
}

pre code {
  text-wrap: wrap;
}

blockquote {
  margin: 0 0 1.1em;
  padding-left: 1em;
  border-left: 5px solid #ddd;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  padding: 6px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
}

.clearfix,
.col-group {
  zoom: 1;
}

.clearfix:before,
.col-group:before,
.clearfix:after,
.col-group:after {
  content: " ";
  display: table;
}

.clearfix:after,
.col-group:after {
  clear: both;
}

.post-content a {
  color: #0789e0;
  border-bottom: 1px solid #ddd;
}

.post-meta a:hover,
.post-content a:hover,
.widget a:hover {
  border-bottom-color: transparent;
}

#header {
  padding: 58px 0 0;
  text-align: left;
}

#header .col-group {
  border-bottom: 1px solid #ddd;
}

#logo {
  font-size: 37.5px;
  font-weight: bold;
  color: #555;
}

#logo span {
  color: #777;
}

.description {
  margin: 5px 0 0;
  color: #999;
}

#nav-menu {
  margin: 10px 0 -1px;
  padding: 0;
  float: right;
}

#nav-menu a {
  display: inline-block;
  margin-right: -1px;
  padding: 0 1em;
  height: 32px;
  line-height: 32px;
  color: #444;
}

#nav-menu a:first-child {
  border: none;
}

#nav-menu a.current {
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

#search {
  position: relative;
  overflow: hidden;
}

#search input {
  padding: 1em 2em 0.75em 1em;
  line-height: 1.5;
}

#search input::placeholder {
  color: #999;
}

#search button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  line-height: 1.5;
  border: none;
  padding: 14px 0;
  width: auto;
  height: 48px;
  color: #dddddd;
  background: none;
}

.col-8 {
  width: 800px;
}

.col-12 {
  width: 100%;
}

.container {
  width: 1150px;
  padding: 0 60px;
  margin: 0 auto;
}

#secondary {
  float: right;
  width: 245px;
  border-left: 1px solid #ddd;
  padding-left: 35px;
  word-wrap: break-word;
  display: block;
  padding-top: 40px;
}

#main {
  padding-top: 20px;
  float: left;
}

.post {
  padding: 25px 0 15px;
}

.post-title {
  margin: 0;
  color: #555;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}

.post-title a,
.keyword {
  color: #555;
}

.post-meta {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 9px;
  padding: 0;
  margin: 9px 0 0;
  color: #999;
  text-align: left;
}

.meta-category ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.meta-category ul::before {
  content: "|";
}

.meta-category li::after {
  content: ", ";
}

.meta-category li:last-child::after {
  content: "";
}

.meta-category a {
  color: inherit;
}

.meta-tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.meta-tags ul li {
  position: relative;
}

.meta-tags ul li a::before {
  content: "#";
}

.meta-tags ul li a {
  color: inherit;
}

.post-content {
  font-size: 1em;
  line-height: 1.7;
  color: #444;
  padding-top: 27px;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  color: #ba3925;
}

.page-content {
  padding-top: 40px;
}

.post-content h3,
.post-content h2 {
  margin: 1.4em 0 1.1em;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.post-content pre {
  padding: 1em;
}

.post-content code {
  display: inline;
}

.post-content p code {
  display: inline;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.1);
  border-radius: 3px;
}

.post-content p {
  margin: 0 0 1.1em;
}

.post-content img {
  padding: 1em 0;
  margin: auto;
  display: block;
}

.post-content ul {
  overflow: auto;
  padding: 0.5em 2.4em;
  border-radius: 3px;
  margin: 1.8em 0;
}

.post-content ul li {
  text-indent: 0.5em;
}

.archive-title {
  padding-top: 20px;
  color: #999;
  font-size: 1em;
}

.page-navigator {
  border-top: 1px solid #ddd;
  list-style: none;
  padding: 25px 0 0;
  font-size: 16px;
  text-align: center;
}

.page-navigator li {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  padding: 5px 9px;
  border: 1px solid #ddd;
}

.page-navigator a:hover {
  background: #f8f8f8;
  border-bottom-color: #d26911;
}

.page-navigator .current a {
  background: #f8f8f8;
  border-bottom-color: #d26911;
}



button {
  border-radius: 0;
}

button.submit {
  border: 1px solid #272727;
  display: block;
  line-height: 32px;
  width: 100%;
  outline: none;
  color: #fff;
  background: #272727;
  height: 38px;
}

button.submit:hover {
  background: #505050;
  border-color: #505050;
}

.widget {
  margin-bottom: 30px;
}

.widget-title {
  color: #6e7173;
  line-height: 2.7;
  margin-top: 0;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  display: block;
}

.widget-list {
  list-style: none;
  padding: 0;
}

.widget-list li {
  margin: 5px 0;
  line-height: 1.5;
}

.widget .tagcloud {
  margin-top: 10px;
}

.widget .tagcloud a {
  line-height: 1.5;
  padding: 5px;
}

.widget-socials ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

#footer {
  display: flex;
  padding: 0.8em 0 3.6em;
  color: #999;
  text-align: center;
}

#footer a {
  color: inherit;
}

.copyright {
  font-size: small;
}

.post-content h2 {
  font-size: 1.28571em;
}

.post-content img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.post-content a img {
  background: #fff;
  position: relative;
  bottom: -4px;
}

.post-content hr {
  margin: 2.1em auto;
  width: 200px;
  border: 1px solid #ccc;
  border-width: 1px 0 0 0;
  position: relative;
}

/* archives page*/
.al_year {
  width: 60px;
  padding: 10px 0;
}

.al_mon_list {
  margin-left: 90px;
  margin-top: -2.2em;
  border-left: 1px solid #ddd;
}

.al_mon_list li {
  list-style: none;
  line-height: 1.8;
}

.al_mon_list li a {
  margin-left: 1.5em;
}

.body404 {
  height: 100%;
  width: 100%;
  background: #fff;
  background-size: cover;
  margin: 4em 0 6em 0;
}

.site-name404 {
  margin: 0 auto;
  width: 3em;
  text-align: center;
  letter-spacing: 2px;
  font-size: 74px;
}

.site-name404 i {
  font-style: normal;
}

.info404 {
  text-align: center;
  width: 100%;
}

.index404 {
  margin-top: 13px;
  display: inline-block;
  padding: 14px 27px 14px 29px;
  color: #fff;
  white-space: nowrap;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  background: #444;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 1px;
  font-size: 14px;
  user-select: none;
}

.index404:hover {
  background-color: #000;
  color: #fff;
}

@media print,
screen and (max-width: 1290px) {
  .container {
    width: auto;
  }

  #main {
    width: 100%;
    margin-right: -320px;
    float: left;
  }

  .res-cons {
    width: auto;
    margin-right: 320px;
  }

  .post-content img {
    max-width: 100%;
  }
}

@media print,
screen and (max-width: 1057px) {
  .container {
    width: auto;
  }

  #main {
    width: 100%;
    margin-right: -260px;
    float: left;
  }

  .res-cons {
    width: auto;
    margin-right: 260px;
  }

  #secondary {
    width: 175px;
    margin-top: 35px;
    padding-top: 5px;
  }

  .post-content {
    font-size: 14px;
  }
}

@media print,
screen and (max-width: 860px) {
  #header {
    text-align: center;
  }

  #main {
    width: 100%;
    margin-right: 0;
  }

  #nav-menu {
    margin: 35px 0 -1px;
  }

  .res-cons {
    width: auto;
    margin-right: 0;
  }

  #secondary {
    display: none;
  }
}

@media print,
screen and (max-width: 680px) {
  .container {
    padding: 0 20px;
  }

  .post-title {
    font-size: 22px;
  }

  .page-navigator {
    padding: 15px 0 0;
  }

  #footer {
    padding-top: 10px;
  }

  .page-navigator a {
    padding: 0 6px;
  }

  .post-content img {
    padding: 0.2em 0;
  }

  .post {
    padding: 12px 0;
  }

  #nav-menu a {
    padding: 0 15px;
    line-height: 27px;
    height: 27px;
    font-size: 13px;
  }
}

@media print,
screen and (max-width: 500px) {
  .post-meta {
    display: none;
  }

  .al_mon_list {
    margin-left: 70px;
    padding-left: 20px;
  }
}


.post-archive {
  font-size: 15px;
  line-height: 2;
  padding-bottom: 0.8em;
}

.post-archive h2 {
  margin: 0;
  font-weight: bold;
}

.post-archive .date {
  padding-right: 0.7em;
}

.post-archive .title {
  color: #444;
}

.related-posts {
  margin-top: 45px;
  border-top: rgb(221, 221, 221) 1px solid;
  padding-bottom: 0.8em;
}

.related-posts li {
  line-height: 1.5;
}

/* read more*/
.post-readmore a {
  font-size: 14px;
  color: #444;
  margin: -10px 0;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  float: right;
}

.post-readmore a:hover {
  background: #f8f8f8;
  border-bottom-color: #d26911;
}

table {
  margin: auto auto 15px;
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

tbody {
  border: 0;
}

table tr th {
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 2px solid #909ba2;
  background-color: #f0f0f0;
}

table td {
  padding: 5px 10px;
}

table tr:nth-child(2n) {
  background: #f7f8f8;
}

table tr {
  border: 0;
  background-color: white;
}

table tr th,
table tr td {
  font-size: 1em;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  text-align: left;
}

table tbody tr td:nth-of-type(1) pre {
  margin-right: -1px;
}

/* Controls coloring for Ads title and text entries */
.ad {
  color: inherit;
}