/*
  Reusable and context-free. Here are the utilities.
*/

.container {
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: clamp(20px, 3vw, 40px);
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}