{{ $page := . }}
<!DOCTYPE html>
<html lang="{{ with $page.Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  {{ partial "head" $page }}
  <body>
    {{ partial "header" $page }}
    <div id="body">
      <div class="container">
        <div class="col-group">
          <div class="col-8" id="main">
            {{ block "content" $page }}{{ end }}
          </div>
          {{ partial "sidebar" $page }}
        </div>
      </div>
    </div>

    {{ partial "footer" $page }}

    {{ if findRE "<pre" $page.Content 1 }}
      {{- /* Only load code copy logic if the content contains code */ -}}
      {{ partial "code-copy" $page }}
    {{ end }}

    <!-- Load custom js provided in the config.toml -->
    {{ range $file := $page.Site.Params.customJS }}
      <script src="{{ "/js/" | relURL }}{{ $file }}"></script>
    {{ end }}
  </body>
</html>
