{{/*
    This is the base layout template that all other templates inherit from.
    It defines the basic HTML structure (<html>, <head>, <body>) and includes
    common partials like head, header, sidebar, and footer.
    It defines the main "content" block that other templates override.
*/}}
{{- $page := . -}}
<!DOCTYPE html>
<html lang="{{ with $page.Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
    {{ partial "head" $page }}
  </head>
  <body>
    <header class="container app-header">
      {{ partial "header" $page }}
    </header>
    <div class="container grid-main">
      <main>
        {{ block "content" $page }}{{ end }}
      </main>
      <aside class="sidebar">
        {{ partial "sidebar" $page }}
      </aside>
    </div>
    <footer class="container app-footer">
      {{ partial "footer" $page }}
    </footer>
    {{ partial "custom-js" $page }}
  </body>
</html>
