{{ $page := . }}
<!DOCTYPE html>
<html lang="{{ with $page.Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  {{ partial "head" $page }}
  <body>
    {{ partial "header" $page }}
    <div id="body">
      <div class="container">
        <div class="col-group">
          <div class="col-8" id="main">
            {{ block "content" $page }}{{ end }}
            {{ partial "footer" $page }}
          </div>
          {{ partial "sidebar" $page }}
        </div>
      </div>
    </div>
  </body>
</html>
