{{/*
    This is the template for displaying a single page content (a blog post).
    It renders the post title, metadata, table of contents, main content, tags,
    and comments.
*/}}
{{ define "content" }}
  {{- $page := . }}
  {{ "<!-- starting of single.html -->" | safeHTML }}
    {{ partial "toc" $page }}
    <article class="post">
      <header>
        <h1 class="post__title">{{ $page.Title }}</h1>
      </header>
      {{ partial "post-meta.html" $page }}
      <div class="post__content">
        {{ $page.Content }}
      </div>
      {{- partial "post-tags" $page -}}
    </article>
    {{ partial "comments" $page }}

  {{ if findRE "<pre" $page.Content 1 }}
    {{- /* Only load code copy logic if the content contains code */ -}}
    {{ partial "code-copy" $page }}
  {{ end }}
  {{ "<!-- ending of single.html -->  " | safeHTML }}
{{- end }}
