{{/*
    This is the list template for all terms in a taxonomy (e.g., /tags/ or /categories/).
    It displays the count of terms and lists them with their post counts.
*/}}
{{ define "content" }}
  {{- $page := . -}}
  {{ "<!-- starting of terms.html -->" | safeHTML }}
  <header>
    {{ if eq $page.Data.Singular "category" }}
      <h1>{{ i18n "categories" 10 }}: {{ len $page.Data.Terms }}</h1>
    {{ else if eq $page.Data.Singular "tag" }}
      <h1>{{ i18n "tags" 10 }}: {{ len $page.Data.Terms }}</h1>
    {{ end }}
  </header>
  <div class="post-archive">
    {{ range $page.Data.Terms.ByCount }}
      <h2>
        <a href="{{ path.Join $page.Data.Plural .Term | urlize | absLangURL }}"
          >{{ .Term }}</a
        >
        ({{ .Count }})
      </h2>
      <ul class="listing">
        {{ range $post := .Pages }}
          <li>
            <span class="date">{{ $post.Date.Format "2006/01/02" }}</span>
            <a class="title" href="{{ $post.Permalink }}" title="{{ $post.Title }}"
              >{{ $post.Title }}</a
            >
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
  {{ "<!-- ending of terms.html -->" | safeHTML }}
{{ end }}
