{{/*
    This partial handles comment systems (Disqus, Utterances, Waline).
    It checks if comments are enabled and renders the appropriate comment widget.
*/}}
{{- /* Check if either comments are enabled for the specific page in front matter,
  or if the page is a blog post AND if comments are enabled site-wide
*/ -}}
{{- $page := . -}}
{{ if or (eq $page.Params.comments true)
  (and (eq $page.Type $page.Site.Params.BlogType) (eq $page.Site.Params.comments true))
}}
  {{ template "_internal/disqus.html" $page }}

  <!-- utteranc -->
  {{ if $page.Site.Params.utteranc.enable }}
    <div class="post bg-white">
      <script
        src="https://utteranc.es/client.js"
        repo="{{ $page.Site.Params.utteranc.repo }}"
        issue-term="{{ $page.Site.Params.utteranc.issueTerm }}"
        theme="{{ $page.Site.Params.utteranc.theme }}"
        crossorigin="anonymous"
        async
      ></script>
    </div>
  {{ end }}
  <!--waline-->
  {{ if $page.Site.Params.waline.enable }}
    <div id="waline"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waline/3.6.0/waline.js"></script>
    <script>
        Waline({
            el: '#waline',
            serverURL: '{{ $page.Site.Params.waline.serverURL }}',
            placeholder: '{{ $page.Site.Params.waline.placeholder }}',
        });
    </script>
  {{ end }}
{{- end }}