{{ $page := . }}
<footer id="footer" class="res-cons">
  <span class="copyright">
    &copy; {{ now.Format "2006" }} {{ $page.Site.Params.author }}
  </span>
</footer>

{{ if $page.IsPage }}
  <!-- graphviz -->
  {{- if and (or $page.Params.graphviz.enable (and $page.Site.Params.graphviz.enable (ne $page.Params.graphviz.enable false))) (or $page.IsPage $page.IsHome) -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/1.7.1/viz.js"></script>
    <script>
      (function () {
        if (!window.Viz) return;
        var vizPrefix = "language-viz-";
        var i = 0;
        Array.prototype.forEach.call(
          document.querySelectorAll("code[class^=" + vizPrefix + "]"),
          function (block) {
            var engine;
            block
              .getAttribute("class")
              .split(" ")
              .forEach(function (cls) {
                if (cls.startsWith(vizPrefix)) {
                  engine = cls.substr(vizPrefix.length);
                }
              });
            const rootElement = block.parentNode;
            var image = new DOMParser().parseFromString(
              Viz(block.innerText, { format: "svg", engine: engine }),
              "image/svg+xml",
            );
            const container = document.createElement("div");
            container.className = "align-center";
            container.setAttribute("style", "overFlow-x:auto");
            container.appendChild(image.documentElement);
            rootElement.parentNode.replaceChild(container, rootElement);
          },
        );
      })();
    </script>
  {{- end -}}


  <!-- flowchart -->
  {{- if and (or $page.Params.flowchartDiagrams.enable (and $page.Site.Params.flowchartDiagrams.enable (ne $page.Params.flowchartDiagrams.enable false))) (or $page.IsPage $page.IsHome) -}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.8/raphael.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.12.2/flowchart.min.js"
      crossorigin="anonymous"
    ></script>
        <script>
            {{- if $page.Params.flowchartDiagrams.options -}}
                window.flowchartDiagramsOptions = {{ $page.Params.flowchartDiagrams.options | safeJS }};
            {{- else if $page.Site.Params.flowchartDiagrams.options -}}
                window.flowchartDiagramsOptions = {{ $page.Site.Params.flowchartDiagrams.options | safeJS }};
            {{- end -}}
            (function () {
                if (!window.flowchart) return;
                const blocks = document.querySelectorAll('pre code.language-flowchart, pre code.language-flow');
                for (let i = 0; i < blocks.length; i++) {
                    const block = blocks[i];
                    const rootElement = block.parentNode;
                    const container = document.createElement('div');
                    const id = `js-flowchart-diagrams-${i}`;
                    container.id = id;
                    container.className = 'align-center';
                    container.setAttribute("style", "overFlow-x:auto");
                    rootElement.parentNode.replaceChild(container, rootElement);
                    const diagram = flowchart.parse(block.childNodes[0].nodeValue);
                    diagram.drawSVG(id, window.flowchartDiagramsOptions ? window.flowchartDiagramsOptions : {});
                }
            })();
        </script>
  {{- end -}}


  <!-- The sequence must be loaded after the flow, otherwise the sequence rendering will not be successful. The reason needs to be analyzed. -->
  <!-- js-sequence-diagrams -->
  {{- if and (or $page.Params.sequenceDiagrams.enable (and $page.Site.Params.sequenceDiagrams.enable (ne $page.Params.sequenceDiagrams.enable false))) (or $page.IsPage $page.IsHome) -}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/js-sequence-diagrams/1.0.6/sequence-diagram-min.js"
      crossorigin="anonymous"
    ></script>
        <script>
        {{- if $page.Params.sequenceDiagrams.options -}}
            window.sequenceDiagramsOptions = {{ $page.Params.sequenceDiagrams.options | safeJS }};
        {{- else if $page.Site.Params.sequenceDiagrams.options -}}
            window.sequenceDiagramsOptions = {{ $page.Site.Params.sequenceDiagrams.options | safeJS }};
        {{- end -}}
        (function () {
            if (!window.Diagram) return;
            const blocks = document.querySelectorAll('pre code.language-sequence');
            for (let i = 0; i < blocks.length; i++) {
                const block = blocks[i];
                // const rootElement = window.Prism.plugins.lineNumbers ? (window.Prism.plugins.toolbar ? block.parentElement.parentElement : block.parentElement) : block;
                const rootElement = block.parentNode;
                const container = document.createElement('div');
                const id = `js-sequence-diag-${i}`;
                container.id = id;
                container.className = 'align-center';
                container.setAttribute("style", "overFlow-x:auto");
                rootElement.parentNode.replaceChild(container, rootElement);

                const diagram = Diagram.parse(block.childNodes[0].nodeValue);
                diagram.drawSVG(id, window.sequenceDiagramsOptions
                    ? window.sequenceDiagramsOptions
                    : { theme: 'simple' });
            }
        })();
        </script>
  {{- end -}}


  <script>
    window.MathJax = {
      tex2jax: {
        inlineMath: [["$", "$"]],
        processEscapes: true,
      },
    };
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
    async
  ></script>

  {{- if $page.Site.Params.fancybox -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  {{- end -}}
{{ end }}

{{ partial "rocket" }}

{{ if findRE "<pre" $page.Content 1 }}
  {{- /* Only load code copy logic if the content contains code */ -}}
  {{ partial "code-copy" $page }}
{{ end }}

<!-- custom js -->
{{ range $file := $page.Site.Params.customJS }}
  <script src="{{ "/js/" | relURL }}{{ $file }}"></script>
{{ end }}
