{{/*
    This partial displays the tags for a specific post.
*/}}
<div class="post-tags">
  {{- $page := . -}}
  {{- if and (isset $page.Params "tags") $page.Params.tags }}
    <ul class="post-tags__list">
      {{- range $tag := $page.Params.Tags }}
        <li class="post-tags__item"><a class="post-tags__link" href="{{ "tags/" | relURL }}{{ $tag | urlize }}">{{ $tag }}</a></li>
      {{- end }}
    </ul>
  {{- else -}}
    {{- if eq $page.Type $page.Site.Params.BlogType -}}
      {{ i18n "tagsNone" }}
    {{- end }}
  {{- end }}
</div>
