<div class="post-meta">
  {{ if not .PublishDate.IsZero }}
    {{- $datetime_format := i18n "Datetime_format" -}}
    <time
      datetime="{{ .PublishDate.UTC.Format "2006-01-02T15:04:05Z07:00" }}"
      class="meta-date dt-published"
    >
      {{ time.Format $datetime_format .PublishDate }}
    </time>
  {{ end }}
  {{ with .Params.Author }}
    <span class="meta-author">{{ i18n "by" }} {{ . }}</span>
  {{ end }}
  {{ with .Params.Categories }}
    <div class="meta-category">
      <ul>
        {{ range . }}
          <li>
            <a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>
