{{/*
    This file is the specific template for the homepage of the website.
    It defines the "content" block, which is injected into the baseof.html layout.
    It iterates over the site's regular pages (blog posts), handling pagination, and
    displays a summary of each post.
*/}}
{{ define "content" }}
  {{- $page := . -}}
  {{ "<!-- starting of index.html -->" | safeHTML }}
  {{- $page.Paginate (where $page.Site.RegularPages "Type" $page.Site.Params.BlogType) }}
  {{ partial "post-list.html" $page.Paginator }}
  {{ partial "paginator" $page }}
  {{ "<!-- ending of index.html -->" | safeHTML }}
{{ end }}
