.parent-code-copy {
    position: relative;
}

.code-copy {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--font-size-small);
    width: var(--font-size-small);
    right: var(--space-xs);
    top: var(--space-xs);
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--color-muted);
    background: transparent;
    cursor: pointer;
    transition: var(--transition-base);
}

.code-copy:hover {
    color: var(--link-hover-color);
}