.page-header {
  padding-top: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-sitename {
  font: var(--text-sitename);
}

.header-description {
  margin: var(--space-sm) 0 0 0;
  font: var(--text-normal);
  color: var(--color-muted);
}