.page-header {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-lg);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-sitename {
  font: var(--text-sitename);
  margin-bottom: var(--space-sm);
}

.header-description {
  font: var(--text-normal);
  color: var(--color-muted);
}