.nav-menu {
    margin-top: var(--space-md);
    padding: 0;
    display: flex;
    align-items: flex-end;
}

/* Draws the "track" line on the left of the menu items to complete the tab row */
.nav-menu::before {
    content: "";
    flex: 1;
    border-bottom: var(--border);
}

.nav-menu a {
    display: inline-block;
    padding: 0 var(--space-md);
    height: var(--menu-height);
    line-height: var(--menu-height);
    color: var(--color-primary);
    text-decoration: none;
    border-bottom: var(--border);
    /* (keep) Ensure height is consistent with active tab which has a top border */
    border-top: var(--border-width) solid transparent;
}

.nav-menu a.current {
    border: var(--border);
    border-bottom: none;
    background-color: var(--color-bg);
}