.nav-menu {
    margin-top: var(--space-md);
    padding: 0;
    display: flex;
    align-items: flex-end;
}

/* Tab row track with border-bottom to the left of the tabs */
.nav-menu::before {
    content: "";
    flex: 1;
    border-bottom: var(--border);
}

.nav-menu a {
    display: inline-block;
    padding: 0 var(--space-md);
    height: var(--menu-height);
    /* TODO(DB): menu is a oneliner, why do I need to set the line-height here? */
    line-height: var(--menu-height);
    border-bottom: var(--border);
    /* Prevents active tab baseline shift (due to missing border-top) */
    border-top: var(--border-width) solid transparent;
}

.nav-menu a.current {
    border: var(--border);
    border-bottom: none;
    background-color: var(--color-bg);
}