.nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* Handle right-to-left and left-to-right languages */
html[dir="rtl"] .nav {
    justify-content: flex-start;
}

.nav-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-block: var(--space-xs);
    padding-inline: var(--space-md);
    /* Set a transparent border to prevent layout jump on active */
    border-bottom: var(--menu-active-border-height) solid transparent;
}

.nav-active {
    border-bottom-color: var(--menu-active-border-color);
}