.nav-menu {
    margin: 10px 0 -1px;
    padding: 0;
    float: right;
}

.nav-menu a {
    display: inline-block;
    margin-right: -1px;
    padding: 0 1em;
    height: 32px;
    line-height: 32px;
    color: var(--color-primary);
}

.nav-menu a:first-child {
    border: none;
}

.nav-menu a.current {
    border: var(--border);
    /* TODO(DB): border-bottom paints/hids the chunk of the header border that is below the nav-menu. Come up with a better idea. */
    border-bottom: var(--border-width) solid var(--color-white);
}

@media screen and (max-width: var(--max-width-breakpoint-3)) {
    .nav-menu {
        margin: 35px 0 -1px;
        float: none;
        /* Reset float since header is centered */
    }
}

@media screen and (max-width: var(--max-width-breakpoint-4)) {
    .nav-menu a {
        padding: 0 15px;
        line-height: 27px;
        height: 27px;
        font-size: 13px;
    }
}