.page-header {
  padding-block-start: var(--space-xl);
  padding-block-end: var(--space-lg);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* Override text and link colors for all children */
  --text-color: var(--page-header-text-color);
  --link-color: var(--text-color);

  color: var(--text-color);

}

.header-sitename {
  font: var(--text-sitename);
  margin-bottom: var(--space-sm);
  color: var(--page-header-title-color);
}

.header-description {
  font: var(--text-normal);
  margin-bottom: var(--space-sm);
}