.page-header {
  padding-block: var(--space-xl) 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: var(--border);

  /* Override text and link colors for all children */
  --text-color: var(--header-title-color);
  --link-color: var(--text-color);

  color: var(--text-color);
}

.page-header__title-heading {
  font: var(--header-title-font);
  color: var(--header-title-color);
  margin-bottom: var(--space-sm);
}

.page-header__description {
  font: var(--text-normal);
  margin-bottom: var(--space-sm);
}