.page-footer {
  padding-block: var(--space-lg);
  border-top: var(--border);
  text-align: left;

  /* Override text and link colors for all children */
  --text-color: var(--page-footer-text-color);
  --link-color: var(--text-color);

  color: var(--text-color);
}

.page-footer__copyright {
  font-size: var(--font-size-small);
}