.page-header {
  padding-block: var(--space-xl) 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: var(--border);

  /* Override text and link colors for all children */
  --text-color: var(--page-header-text-color);
  --link-color: var(--text-color);

  color: var(--text-color);
}

.header-sitename {
  font: var(--text-sitename);
  margin-bottom: var(--space-sm);
  color: var(--page-header-title-color);
}

.header-description {
  font: var(--text-normal);
  margin-bottom: var(--space-sm);
}