/*
    Paginator Component
    Handles styling for the post list pagination.
*/

.paginator {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-sm);
    list-style: none;
    padding-inline: 0;
    padding-block-start: var(--space-lg);
    margin-block-start: var(--space-lg);
    border-block-start: var(--border);
    text-align: center;

    /* Override text and link colors for all children */
    --text-color: var(--page-paginator-color);
    --link-color: var(--text-color);

    color: var(--text-color);
    font: var(--page-paginator-font);
}

.paginator__item {
    display: inline-flex;
}

.paginator__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--space-sm);
    transition: var(--link-transition);
}

.paginator__ellipsis {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--space-sm);
}

.paginator__link--active {
    font: var(--page-paginator-active-font);
    color: var(--page-paginator-active-color);
    border-bottom: var(--page-paginator-active-border);
}

.paginator__link--prev,
.paginator__link--next {
    padding-inline: var(--space-md);
}

@media screen and (max-width: 680px) {
    .paginator {
        padding-block-start: var(--space-md);
        margin-block-start: var(--space-md);
    }

    .paginator__link,
    .paginator__ellipsis {
        padding-inline: var(--space-xs);
        /* TODO(DB): check how does small font looks like, standardize to normal instead? */
        font-size: var(--font-size-small);
    }
}