/*
    Paginator Component
    Handles styling for the post list pagination.
*/

.page-paginator {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-sm);
    list-style: none;
    padding-inline: 0;
    padding-block-start: var(--space-lg);
    margin-block-start: var(--space-lg);
    border-block-start: var(--border);
    font-size: var(--font-size-base);
    text-align: center;

    /* Override text and link colors for all children */
    --text-color: var(--page-paginator-text-color);
    --link-color: var(--text-color);

    color: var(--text-color);
}

.paginator-item {
    display: inline-flex;
}

.paginator-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--space-sm);
    transition: var(--link-transition);
}

.paginator-ellipsis {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--space-sm);
}

.paginator-link.is-active {
    color: var(--page-paginator-active-color);
    font-weight: bold;
    border-bottom: calc(var(--font-size-base) / 8) solid var(--color-accent);
}

.paginator-link.is-prev,
.paginator-link.is-next {
    padding-inline: var(--space-md);
}

@media screen and (max-width: 680px) {
    .page-paginator {
        padding-block-start: var(--space-md);
        margin-block-start: var(--space-md);
    }

    .paginator-link,
    .paginator-ellipsis {
        padding-inline: var(--space-xs);
        font-size: var(--font-size-small);
    }
}