/* Post Meta Tags */
.post-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-sm);
    margin-top: var(--space-xl);

    /* Override text and link colors for all children */
    --text-color: var(--post-tag-text-color);
    --link-color: var(--text-color);

    color: var(--text-color);
}

.post-tags__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-tags__item {
    position: relative;
}

.post-tags__link::before {
    content: "#";
}

.post-tags__link {
    font-style: italic;
}