/* .post {
  padding-block: var(--space-lg);
  padding-inline: var(--space-lg);
} */

.post-title {
  /* font: var(--post-font-title); */
  /* Reset margin and padding to override reset layer (normalize.css) */
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-xs);
}

/* "read more" button */
.post-readmore a {
  font-size: var(--font-size-small);
  padding-block: var(--space-xs);
  padding-inline: var(--space-md);
  border: var(--border);
  float: right;
  background-color: var(--color-bg);
}

.post-readmore a:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  border-color: var(--color-primary-hover);
  transform: translateY(-1px);
}