.post {
  padding: var(--space-lg);
}

.post-title {
  font: var(--post-font-title);
  margin-bottom: var(--space-md);
}

/* "read more" button */
.post-readmore a {
  font-size: var(--font-size-small);
  padding: var(--space-xs) var(--space-md);
  border: var(--border);
  float: right;
  background-color: var(--color-bg);
}

.post-readmore a:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  border-color: var(--color-primary-hover);
  transform: translateY(-1px);
}

.tags {
  margin-top: var(--space-lg);
}