/* .post {
  padding-block: var(--space-lg);
  padding-inline: var(--space-lg);
} */

.post-title {
  /* Reset margin and padding to override reset layer (normalize.css) */
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-xs);
}

/* "read more" button */
.post-readmore {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: var(--space-sm);
}

.post-readmore a {
  display: inline-flex;
  font-size: var(--font-size-small);
  padding-block: var(--space-xs);
  padding-inline: var(--space-md);
  border: var(--border);
}

.post-readmore a:hover {
  border-color: var(--border-color);
}