/* .post {
  padding-block: var(--space-lg);
  padding-inline: var(--space-lg);
} */

.post-title {
  /* Reset margin and padding to override reset layer (normalize.css) */
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-xs);
}