/* Post Meta Tags */
.meta-tags {
    margin-top: var(--space-xl);
}

.post-tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-tags-item {
    position: relative;
}

.post-tag::before {
    content: "#";
}

.post-tag {
    font-style: italic;
}