/* Post Meta Tags */
.meta-tags {
    margin-top: var(--space-xl);

    /* Override text and link colors for all children */
    --text-color: var(--post-tag-text-color);
    --link-color: var(--text-color);

    color: var(--text-color);
}

.post-tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-tags-item {
    position: relative;
}

.post-tag::before {
    content: "#";
}

.post-tag {
    font-style: italic;
}