.related-posts {
  margin-top: var(--space-xl);
  padding-block-start: var(--space-md);
  border-top: var(--border);
}

.related-posts li {
  line-height: var(--line-height-large);
}

/* Hide mobile fallback when sidebar is visible */
/* @media screen and (min-width: 1024px) {
  .related-posts-mobile {
    display: none;
  }
} */