/* 
   Styles for the search results page (/search)
*/

/* #search-results {
    margin-top: var(--space-md);
}

#search-results .post {
    padding-block: var(--space-lg);
    border-bottom: var(--border);
}

#search-results .post:last-child {
    border-bottom: none;
}

#search-results .post-title {
    margin-bottom: var(--space-xs);
    font: var(--text-post-header);
}

#search-results .post-title a {
    color: var(--color-intense);
    transition: var(--link-transition);
}

#search-results .post-title a:hover {
    color: var(--color-accent);
}

#search-results .post-meta {
    font-size: var(--font-size-small);
    color: var(--post-meta-text-color);
    margin-bottom: var(--space-sm);
}

#search-results .post-summary {
    display: block;
    margin-bottom: var(--space-md);
    line-height: var(--line-height-base);
    color: var(--color-main);
}

#search-results .post-readmore {
    display: flex;
    justify-content: flex-end;
}

#search-results .post-readmore-link {
    display: inline-flex;
    font-size: var(--font-size-small);
    padding-block: var(--space-xs);
    padding-inline: var(--space-md);
    border: var(--border);
    color: var(--color-main);
    transition: var(--transition-base);
}

#search-results .post-readmore-link:hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
}

#search-status,
#search-results p {
    color: var(--color-muted);
    font-style: italic;
    margin-top: var(--space-lg);
    text-align: center;
} */

.search-keyword {
    color: var(--color-accent);
    font-weight: bold;
}
