/* .sidebar { } Styles handled by grid */
.sidebar {
  border-left: var(--border);
  padding-inline-start: var(--space-md);
  margin-top: var(--space-lg);
  padding-top: var(--space-xs);
  word-break: break-word;
}

/* Widget styles */
.widget {
  padding: var(--space-md);
  margin-bottom: var(--space-md);
}

.widget .widget-title {
  font-size: 1rem;
  padding-bottom: var(--space-sm);
  border-bottom: var(--border);
  margin-bottom: var(--space-md);
  color: var(--color-muted);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget ul li {
  margin-bottom: var(--space-sm);
}

/* TODO(DB): Decide if I want this  */
/* .widget a:hover { */
  /* transform: translateX(4px); */
  /* Required for transform on inline elements */
  /* display: inline-block; */
/* } */