/* Post Meta Tags */
.meta-tags ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    list-style: none;
    padding: 0;
    margin: 0;
}

.meta-tags ul li {
    position: relative;
}

.meta-tags ul li a::before {
    content: "#";
}

.meta-tags ul li a {
    color: inherit;
}