.theme-toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: var(--space-md);
    top: var(--space-md);
    margin: 0;
    padding: 0;
    border: none;
    color: var(--color-muted);
    background: transparent;
    cursor: pointer;
    transition: var(--transition-base);
    height: calc(var(--font-size-base) * 1);
    width: calc(var(--font-size-base) * 1);
}

.theme-toggle:hover {
    color: var(--link-hover-color);
}