/* Widget styles */
.widget {
    padding-inline-start: var(--space-md);
    margin-bottom: var(--space-xl);
}

.widget--active .widget__title {
    position: relative;
}

/* TODO(DB): Can this be done with border-inline-start? */
.widget--active .widget__title::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-start: calc(var(--space-md) * -1);
    width: var(--widget-active-border-height);
    background-color: var(--widget-active-border-color);
}

.widget__title {
    padding-block-end: var(--space-sm);
    border-bottom: var(--border);
    margin-bottom: var(--space-md);
    font: var(--sidebar-widget-title);
    text-transform: var(--widget-text-transform);
    letter-spacing: var(--widget-letter-spacing);
}

.widget__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget__item {
    margin-bottom: var(--space-sm);
}

/* TODO(DB): Decide if I want this  */
/* .widget a:hover { */
/* transform: translateX(4px); */
/* Required for transform on inline elements */
/* display: inline-block; */
/* } */